{% extends "base.html" %}

{% block title %}
    StArBesGer - Staatsarchiv Hamburg Bestellschein Generator
{% endblock %}

{% block content_1 %}
    <h1>Bestellschein Generator</h1>
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
                {% for error in form.name.errors %}
                    <div class=".alert-danger">[{{ error }}]</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.datum.label }}<br>
                {{ form.datum }}
                {% for error in form.datum.errors %}
                    <div class=".alert-danger">[{{ error }}]</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.signaturen.label }}  - Eine Signatur pro Zeile<br>
                {{ form.signaturen(rows='10',cols='30') }}
                {% for error in form.signaturen.errors %}
                    <div class=".alert-danger">[{{ error }}]</div>
                {% endfor %}
            </div>
{#            <div class="form-group">#}
{#                {{ form.urls.label }} - Eine URL pro Zeile<br>#}
{#                {{ form.urls(rows='10',cols='30') }}#}
{#                {% for error in form.urls.errors %}#}
{#                    <div class=".alert-danger">[{{ error }}]</div>#}
{#                {% endfor %}#}
{#            </div>#}
            <div class="form-group">
                {{ form.zip_file.label }}<br>
                {{ form.zip_file }} - {{ form.zip_file.description }}
            </div>
            <p>{{ form.submit() }}</p>
    </form>
{% endblock %}