div .list-group a {
    background-color:#2b6ca3;
    color:white;
}

div .list-group a:hover{
    background-color:#d17206;
    color:white;
}

.btn-primary {
    background-color:#2b6ca3;
    color:white;
}

.btn-primary:hover {
    background-color:#d17206;
    color:white;
}