{% extends "base.html" %}
{% block title %}
    AUDAX - ABC Trainings Generator
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='adx_abctrainer/abc_trainer.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="adx-logo-row adx-row row">
            <div class="col-4"><img width="160px" src="{{ url_for('static',filename='adx_abctrainer/img/logos/adx_abctrainer.png') }}"></div>
            <div class="col-4"></div>
            <div class="col-4"><img height="70px" src="{{ url_for('static',filename='adx_abctrainer/img/logos/adx_vscorona.png') }}"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row"><h3>Wunsch-Training</h3></div>
                    <form action="" method="post" class="form-inline">
                        <div class="form-group">
                            {{ form.word.label(class='sr-only') }}<br>
                            {{ form.word(size=20,class='form-control mb-2 mr-sm-2', placeholder='Zauberwort eingeben...') }}
                            {% if form.pwd %}
                                {{ form.pwd.label(class='sr-only') }}<br>
                                {{ form.pwd(size=12,class='form-control mb-2 mr-sm-2', placeholder='Passwort...') }}
                            {% endif %}
                            {{ form.submit(class='btn btn-primary mb-2') }}
                        </div>
                        {{ form.csrf_token }}
                    </form>
                {% if form.errors %}
                      {% for error in form.word.errors %}
                          <div class="alert alert-danger"><strong><i class="fas fa-bomb"></i> {{ error }}</strong></div>
                      {% endfor %}
                        {% if form.pwd %}
                            {% for error in form.pwd.errors %}
                              <div class="alert alert-danger"><strong><i class="fas fa-bomb"></i> {{ error }}</strong></div>
                          {% endfor %}
                        {% endif %}
                {% endif %}
                <div class="alert alert-primary">
                    <small><i class="fas fa-info"></i> Worte sollten zwischen {{ min }} und {{ max }} Buchstaben haben. Sonderzeichen und Umlaute dürfen nicht vorkommen.</small>
                </div>
                {% if form_2 %}
                    <div class="row"><h3>Zufalls-Training</h3></div>
                    <form action="" method="post" class="form-inline">
                            <div class="form-group">
                                {{ form_2.min.label(class='sr-only') }}
                                <div class="adx-input-group mb-2 mr-sm-2">
                                        <span>Zwischen</span>
                                        {{ form_2.min(size=1, min=min, max=max, class='form-control', value=min) }}
                                        {{ form_2.max.label(class='sr-only') }}
                                        <span>und</span>
                                        {{ form_2.max(size=1, min=min, max=max, class='form-control', value=max) }}
                                        <span>Buchstaben.</span>
                                </div>
                                {{ form_2.submit(class='btn btn-primary mb-2') }}
                                {{ form_2.csrf_token }}
                            </div>
                    </form>
                    {% if form_2.errors %}
                        {% for error in form_2.min.errors %}
                            <div class="alert alert-danger"><strong><i class="fas fa-bomb"></i> {{ error }}</strong></div>
                        {% endfor %}
                        {% for error in form_2.max.errors %}
                            <div class="alert alert-danger"><strong><i class="fas fa-bomb"></i> {{ error }}</strong></div>
                        {% endfor %}
                    {% endif %}
                <div class="alert alert-primary">
                    <small><i class="fas fa-info"></i> Worte werden nach dem sogennanten "Zufallsprinzip" aus einer Liste mit knapp 650 Wörtern ausgewählt. Verwendung auf eigene Gefahr!</small>
                </div>
                {% endif %}
            </div>
            <div class="col">
                <div class="row"><h3>Vom Cheftrainer Empfohlen</h3></div>
                <div class="row">
                    <div class="list-group list-group-horizontal">
                        {% for word in word_list %}
                            <a href="{{url_for('adx_abctrainer.abctrainer_word',word=word.lower())}}" class='adx-recommended list-group-item list-group-item-action'>{{ word.upper() }}</a>
                            {% if loop.index % 4 == 0 %}
                                </div><div class="list-group list-group-horizontal">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}