{% extends "base.html" %}

{% block title %}
    AUDAX - ABC Trainings Generator
{% endblock %}

{% block content_1 %}
    <h1>AUDAX - ABC Trainings Generator</h1>
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.word.label }}<br>
                {{ form.word(size=12) }}
                {% for error in form.word.errors %}
                    <div class=".alert-danger">[{{ error }}]</div>
                {% endfor %}
            </div>
            <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

{% block content_2 %}
    <h1>Empfohlen vom Cheftrainer</h1>
    <ul>
    <li><a href="/adx_abctrainer/muskelkatzen">MUSKELKATZEN</a></li>
    <li><a href="/adx_abctrainer/ruhrstrasse">RUHRSTRASSE</a></li>
    </ul>
{% endblock %}