{% extends "base.html" %}

{% block title %}
    AUDAX - ABC Trainings Generator
{% endblock %}

{% block content_nonresponsive %}
    {% for tag in word %}
        {{ tag }}
    {% endfor %}
    <div>
        Alle Übungen so schnell wie möglich abarbeiten. Pausen nur wenn nötig einlegen.<br/>
        Präsentiert von <a target="_blank" href="https://heartbrands.eu/de/">heartbrands.eu</a> und <a target="_blank" href="https://www.audax-sv.de/">audax.hamburg</a>.<br/>
        Gemacht mit <i class="fas fa-heart"></i> und <i class="fab fa-python"></i> von Markus.<br/>
        <a href="{{ url_for('adx_abctrainer.abctrainer_form') }}">Neues Wort gefällig?</a>
    </div>
{% endblock %}