{% block contact %}
<div class="row">
    <h5>Contact & Other</h5>
</div>
<div class="row">
    <div class="col">
        <a href="mailto:&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x6b;&#x6f;&#x6e;&#x74;&#x61;&#x6b;&#x74;&#x40;&#x6d;&#x61;&#x62;&#x61;&#x73;&#x73;&#x2e;&#x64;&#x65;">&#x6b;&#x6f;&#x6e;&#x74;&#x61;&#x6b;&#x74;&#x40;&#x6d;&#x61;&#x62;&#x61;&#x73;&#x73;&#x2e;&#x64;&#x65;</a><br/>
        <a href="https://twitter.com/prokrustesbett" target="_blank">Twitter</a><br/>
        <a href="https://github.com/Wolfenswan/" target="_blank">Github</a>
    </div>
</div>
{% endblock %}