{% block projects %}
    <div class="accordion" id="accordionProjects">
    <div class="row">
    <div class="col-md-8">
        <div class="card">
            {% include "landingpage/projects/current.html" %}
        </div>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-8">
        <div class="card">
            {% include "landingpage/projects/interesting.html" %}
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
            {% include "landingpage/projects/old.html" %}
            </div>
        </div>
    </div>
    <p></p>
{% endblock %}