{% block shortinfo %}
<div class="row">
    <h5>TL DR</h5>
</div>
<div class="row">
    <ul>
        <li><b>M.A. History</b> and <b>B.A. Sociology</b> from University of Hamburg.<br/>
        <small>Interests: European Integration | Worker movements (focus: cooperatives) | <br/> Germany in the 19th and 20th century (focus: housing policy and conditions) |
            Digital Games and History</small></li>
        <li>I'm fluent in <b>German</b> and <b>English</b>. Also decent enough in <b>Norwegian</b>.</li>
        <li>Experienced in <b>Python</b> (+Django, Flask), <b>C#</b> (+Unity) and <b>Git</b>. Bit of <b>Javascript</b> on the side.</li>
        <li>Proven seminar facilitator and host through over 10 years of volunteer education work.<br/>
        <small>Focus: Economic issues and economic history | European and German politics | Societal issues</small></li>
        <li><a href="mailto:&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x6b;&#x6f;&#x6e;&#x74;&#x61;&#x6b;&#x74;&#x40;&#x6d;&#x61;&#x62;&#x61;&#x73;&#x73;&#x2e;&#x64;&#x65;">Contact me</a> for a CV and all the other dry stuff.</li>
    </ul>
</div>
{% endblock %}