{% block shortinfo %}
<h5>TL DR</h5>
<ul>
    <li><b>M.A. History</b> and <b>B.A. Sociology</b> from University of Hamburg.<br/>
    <small>Interests: European Integration | Worker movements (focus: cooperatives) | Germany in the 19th and 20th century (focus: housing policy and conditions) |<br/>
         Digital Games and History</small></li>
    <li>Editor and Web-Development at <a href="https://hamburgische-geschichten.de/" target="_blank">Hamburgische-Geschichten.de</a>.<br/>
        <small>This project was promoted by the University College of the University of Hamburg within the framework of the Excellence Strategy of the German federal and state governments (2021).</small>
    <li>Experienced in <b>Python</b> (+Django, Flask), <b>C#</b> (+Unity) and <b>Git</b>. Bit of <b>Javascript</b> on the side.</li>
    <li>Proven seminar facilitator and host through over 10 years of volunteer education work.</li>
</ul>
{% endblock %}