{% extends "base.html" %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='adx_wodzefack/style.css') }}">
{% endblock %}

{% block title %}
    MaBass
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md">
            <h3>Hi! I'm Markus.</h3>
            <div>Historian | Developer | Professional Dabbling.</div>
            <p><b>This is not a homepage. Yet.</b></p>
            
            {% include "landingpage/shortinfo.html" %}
            {% include "landingpage/projects.html" %}
            {% include "landingpage/contact.html" %}
        </div>
    </div>
{% endblock %}
