{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="col-md">
            <h3>Markus Bassermann</h3>
            <div>Historical Sciences | Coding | Things</div>
            <p>This is not a homepage.</p>
            <h3>Project Examples</h3>
            <ul>
                <li><a href="{{url_for ('stahh_besger.stahh_besger_form') }}">Staatsarchiv Hamburg</a> order-file generator</li>
                <li><a href="{{url_for ('adx_abctrainer.abctrainer_form') }}">ABC Trainer</a> for Audax-SV (my gym).<br/>Currently also hosted independently and with some minor updates at audax-abc.de</li>
                <li><a href="https://github.com/Wolfenswan/RoguelikeTut-TCOD" target="_blank">unnamed roguelike</a> - my 'forever project', written in Python</li>
                <li><a target="_blank" href="https://geschichten.github.io/bille/">Bille Geschichten</a> (Scripting help)</li>
                <li><a href="https://github.com/ferstaberinde/F3" target="_blank">F3 Framework for ARMA3</a> - venerable but superseded by now; co-produced & contributed under the moniker 'Wolfenswan' </li>
            </ul>
            <h3>Otherwise</h3>
            <a href="https://github.com/Wolfenswan/">Github</a> | <a href="mailto:&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x6b;&#x6f;&#x6e;&#x74;&#x61;&#x6b;&#x74;&#x40;&#x6d;&#x61;&#x62;&#x61;&#x73;&#x73;&#x2e;&#x64;&#x65;">&#x6b;&#x6f;&#x6e;&#x74;&#x61;&#x6b;&#x74;&#x40;&#x6d;&#x61;&#x62;&#x61;&#x73;&#x73;&#x2e;&#x64;&#x65;</a><br/>
        </div>
    </div>
{% endblock %}
