<div class="card-header" id="headingFProjects">
    <h2 class="mb-0">
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
            <b>Older Projects and Proof-of-concepts</b>
        </button>
    </h2>
    <small>Projects that are either several years old or never went into production.</small>
</div>
<div class="collapse" id="collapseThree" aria-labelledby="headingFProjects" data-parent="#accordionProjects">
    <div class="card-body">
        <ul>
            <li><a target="_blank" href="https://geschichten.github.io/bille/">Bille Geschichten</a> (Javascript support)<br/>
                <small>A mapping project for an Urban Design project in south-eastern Hamburg.</small></li>

            <li><a href="https://github.com/ferstaberinde/F3" target="_blank">F3 Framework for ARMA3</a><br/>
                <small>A venerable but superseded mission-making-framework for the video-game ARMA3. Saw thousands of users during its peak. I co-produced & contributed under the moniker 'Wolfenswan'.</small></li>
            
            <li><a href="https://github.com/Wolfenswan/RoguelikeTut-TCOD" target="_blank">Unnamed roguelike</a><br/>
                <small>My 'forever project', written in Python. While it is a working game, I mostly use it to continuely hone my Python skills and test out new concepts.</small></li>
        
            <li><a href="{{url_for ('adx_wodzefack.wod') }}">Wodzefack?</a>(Workout of the day) for Audax-SV<br>
            <small>Proof-of-concept. Provided a daily workout from 23.01.2021 to 14.02.2021. Never put into production.</small></li>
        </ul>  
    </div>
</div>